

@media (max-width: 1200px) {

    /*MENU*/
    .side-menu {
        height: 90px !important;
        width: 100% !important;
        background-color: rgb(61, 73, 202);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        height: 50px !important;
        margin: 0px !important;
    }

    .menu-links {
        display: none !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;
        margin-top: 0px !important;
        width: 200px !important;
    }

    .profile-logo {
        display: flex !important;
        top: 30px;
        height: 55px !important;
        width: 55px !important;
        position: unset !important;
    }

    .mb-menu-button {
        display: flex !important;
        height: 35px !important;
    }

    h2 {
        font-size: 26px;
    }

    /*MAIN*/

    .main {
        top: 120px !important;
        bottom: 60px !important;
        right: 0;
        left: 0px !important;
        height: unset !important;
        position: unset !important;
    
    }

    .content {
        margin: 0 !important;
        display: flex;
        justify-content: space-around;
        height: fit-content;
    }

    .headline{
        margin: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logged-profile {
        width: 100px !important;
        height: 100%;
    }

    .board-content {
        display: flex;
        height: fit-content !important;
    }

    .container {
        margin-top: 15px;
    }

    .board-container {
        min-height: 200px !important;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .footer {
        position: absolute;
        bottom: 0px;
    }

    /*BOARD*/
    .board-content {
        display: flex;
        flex-direction: column;
    }

    /*BACKLOG*/
    #backlogContent {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .table-header {
        display: none !important;
    }

    .contact-card {
        height: 160px !important;
        font-size: 16px !important;
        justify-content: space-between !important;
        flex-direction: column !important;
    }

    .contact-name {
        align-items: center !important;
    }

    .contact-email {
        display: none !important;
    }

    .contact-picture {
        padding-top: 8px;
    }

    .contact-name span {
        font-size: 20px !important;
        font-weight: bold !important;
        padding-top: 8px !important;
    }

    .contact-name a {
        font-size: 14px !important;
    }

    .contact {
        margin-right: 0px !important;
        margin-left: 8px;
        flex-direction: column-reverse;
    }

    .detail-card {
        display: none !important;
    }

    .logs {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .infos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .icon-container {
        flex-direction: row-reverse !important;
        height: 100% !important;
        width: 100%;
        justify-content: space-between !important;
        align-items: flex-end !important;
    }

    .info-icon {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
    }

    /*ADD_TASK*/

    #addtaskContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    #modal {
        height: 40vh !important;
        width: 80vw !important;
    }

    .new-task {
        display: flex;
        flex-direction: column;
        margin-left: 0 !important;
        padding: 20px;
        margin-top: 20px !important;
        margin-bottom: 0px !important;
    }

    .input-field {
        width: 100% !important;
    }

    .buttons {
        justify-content: space-between !important;
    }

    .assigned-to-images {
        margin-left: 0 !important;
        flex-direction: column;
        width: 100% !important;
        align-items: flex-start !important;
        margin-top: 20px !important;
    }

    .profile-picture {
        height: 90px !important;
        width: 90px !important;
    }

    .plus {
        margin-left: 0px !important;
        margin-top: 10px !important;
    }

    .headline-overlay {
        font-size: 25px !important;
    }

    #close-modal-btn {
        height: 50px !important;
        width: 50px !important;
        font-size: 32px !important;
    }

    /*HELP*/



    /*Footer*/
    .footer {
        display: none;
    }
}