@media(min-width: 1400px) {
    .detail-view-move-icon {
        display: none;
    }
}

@media (max-width: 1399px) {
/*board */

/*backlog*/
.detail-card {
    width: 230px !important;
}

.contact {
    width: 400px !important;
}

.contact-card span{
    font-size: 16px !important;
    font-weight: 600 !important;
}

#category {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.contact-picture {
    margin-right: 12px !important;
    width: 470px !important;
}

@media(min-width: 1200px) {
    .hide-desktop {
        display: none;
    }
    .detail-view-move-icon {
        display: none;
    }
}


}

@media (max-width: 1199px) {

    /*MENU*/
    .side-menu {
        height: 90px !important;
        width: 100% !important;
        background-color: rgb(61, 73, 202);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        height: 50px !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 22px !important;
    }

    .menu-links {
        display: none !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;
        margin-top: 0px !important;
        width: 200px !important;
    }

    .profile-logo {
        display: flex !important;
        top: 30px;
        height: 55px !important;
        width: 55px !important;
        position: unset !important;
    }

    .mb-menu-button {
        display: flex !important;
        height: 35px !important;
    }

    h2 {
        font-size: 26px;
    }

    /*MAIN*/

    .main {
        top: 120px !important;
        bottom: 60px !important;
        right: 0;
        left: 0px !important;
        height: unset !important;
        position: unset !important;
    
    }

    .content {
        margin: 0 !important;
        display: flex;
        justify-content: space-around;
        height: fit-content;
    }

    .headline{
        margin: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logged-profile {
        width: 100px !important;
        height: 100%;
    }

    .board-content {
        display: flex;
        height: fit-content !important;
    }

    .container {
        margin-top: 15px;
    }

    .board-container {
        min-height: 200px !important;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .footer {
        position: absolute;
        bottom: 0px;
    }

    /*Board*/

   .detail-view-container {
    min-height: 40vh !important;
    width: 65vw !important;
    }

    .detail-card-title {
        font-size: 32px !important;
    }

    .detail-card-category {
        font-size: 18px !important;
    }

    .detail-view-x-mark {
        height: 24px !important;
    }

    .detail-view-trash-icon {
        height: 24px !important;
    }
    
  
    /*BACKLOG*/
    #backlogContent {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .table-header {
        display: none !important;
    }

    .contact-card {
        height: 170px !important;
        font-size: 16px !important;
        justify-content: space-between !important;
        flex-direction: column !important;
    }

    .info {
        margin-right: 0 !important;
    }

    .contact-name {
        align-items: center !important;
    }

    .contact-email {
        display: none !important;
    }

    .contact-picture {
        padding-top: 8px;
        margin-right: 0 !important;
    }

    .contact-name span {
        font-size: 20px !important;
        font-weight: bold !important;
        padding-top: 8px !important;
    }

    .contact-name a {
        font-size: 14px !important;
    }

    .contact {
        margin-right: 0px !important;
        margin-left: 8px;
        flex-direction: column-reverse;
    }

    #category {
        font-size: 18px !important;
        font-weight: 500 !important;
        margin-top: 8px !important;
    }

    .detail-card {
        display: none !important;
        width: unset;
    }

    .logs {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .infos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .icon-container {
        flex-direction: row-reverse !important;
        height: 100% !important;
        width: 100%;
        justify-content: space-between !important;
        align-items: flex-end !important;
    }

    .info-icon {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
    }

    /*ADD_TASK*/

    #addtaskContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    #modal {
        height: 40vh !important;
        width: 80vw !important;
    }

    .new-task {
        display: flex;
        flex-direction: column;
        margin-left: 0 !important;
        padding: 20px;
        margin-top: 20px !important;
        margin-bottom: 0px !important;
    }

    .input-field {
        width: 100% !important;
    }

    .buttons {
        justify-content: space-between !important;
    }

    .assigned-to-images {
        margin-left: 0 !important;
        flex-direction: column;
        width: 100% !important;
        align-items: flex-start !important;
        margin-top: 20px !important;
    }

    .profile-picture {
        height: 90px !important;
        width: 90px !important;
    }

    .plus {
        margin-left: 0px !important;
        margin-top: 10px !important;
    }

    .headline-overlay {
        font-size: 25px !important;
    }

    #close-modal-btn {
        height: 50px !important;
        width: 50px !important;
        font-size: 32px !important;
    }


    /*impressum*/
    .impressum-link {
        display: none;
    }
}

@media(max-width: 900px) {
    .detail-view-container {
        min-height: 85vh !important;
        width: 75vw !important;
        }
}

@media(max-width: 750px) {
    /*Menu*/

    .side-menu {
        height: 75px !important;
    }
    /*responsive menu*/
    .close-btn-container {
        height: 75px !important;
   
    }

    /*BOARD*/
    .container h2 {
        font-size: 22px;
    }
        

}


@media(max-width: 700px) {
      /*BOARD*/
      .board-content {
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 350px !important;
    }
    .container h2 {
        font-size: 26px;
    }

}

@media(max-width: 600px) {
     /*board*/
     .container {
        width: 300px !important;
    }
}

@media(max-width: 500px) {
    /*board*/
    .container {
        width: 250px !important;
    }
    .detail-view-container {
        width: 75vw !important;
        min-width: 250px !important;
        }

    /* backlog*/
    .contact-card {
        margin-top: 20px !important;
        margin-bottom: 0 !important;
    }
    .contact {
        width: unset !important;
        margin-left: 0 !important;
    }
    .contact-picture {
        width: unset !important;
    }
    .contact-name {
        width: unset !important;
    }
    .contact-name span {
        text-align: center !important;
        font-size: 18px !important;
        display:block !important;
        word-wrap:break-word !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    #category {
        font-size: 16px !important;
        font-weight: 500 !important;
    }
      /* impressum*/
      .impressum-box {
        max-width: 400px;
        word-break: break-word;
      }
}

@media(max-width: 400px) {
    /* backlog*/
    .contact {
        width: unset !important;
        margin-left: 0 !important;
    }
    .contact-card {
        height: 190px !important;
    }
    .contact-name span {
        font-size: 16px !important;
    }
       /* impressum*/
       .impressum-box {
        max-width: 360px;
      }
}

@media(max-width: 360px) {
    /* add Task*/
    .headline-overlay {
        font-size: 21px !important;
    }

    .profile-picture {
        height: 75px !important;
        width: 75px !important;
    }
    .create-task {
        padding: 12px !important;
        font-size: 18px !important;
        margin-left: 10px !important;
    }
    .cancel {
        padding: 12px !important;
        font-size: 18px !important;
    }
     /* impressum*/
     .impressum-box {
            max-width: 290px;
          }
}

@media(max-width: 330px) {
    /* add Task*/
    .create-task {
        margin-left: 10px !important;
    }
}