/*ROOT*/

.d-none {
    display: none;
}

.text-align-c {
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    margin: 50px;
}

.m-20{
    margin: 20px;
}

/*BG_COLORS*/

.bg-blue {
    background-color: rgb(61, 73, 202);
}

.bg-blue:hover {
    background-color: rgb(61, 73, 202);
}