* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
}

/*SIDE-MENU*/

.side-menu {
    height: 100vh;
    width: 160px;
    background-color: rgb(61, 73, 202);
}

.logo {
    margin: 40px;
    height: 100px;
}

.logo:hover {
    cursor: pointer;
}

.menu-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
    width: 100%;
    margin-left: 20%;
}

.menu-links a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    margin-top: 15px;
    font-size: 23px;
}

.menu-links a:hover {
    cursor: pointer;
    margin-left: 10px;
    border-left: 5px solid white;
}

.active {
    margin-right: 10px;
    border-left: 5px solid white;
}

.logged-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-logo {
    position: fixed;
    bottom: 100px;
    border: 4px solid white;
}

.mb-menu-button {
    display: none;
    height: 40px;
    margin: 40px;
}

/*MAIN*/

#content {
    animation: opacity 175ms ease-in-out;
}

h2 {
    color: #000;
    text-transform: uppercase;
}

.headline {
    margin-left: 50px;
}

.sub-header {
    color: rgb(10, 42, 172);
}

.main {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 160px;
    height: 100vh;
    overflow: auto;
}

.content {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*BOARD_CONTENT*/

.board-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container {
    width: 220px;
}

.board-container {
    display: flex;
    justify-content: center;
    background-color: rgb(239, 239, 239);
    min-height: 500px;
}

.task {
    color: white;
    margin: 5px;
    height: 100px;
}

/*BACKLOG*/

#backlogContent {
    animation: opacity 175ms ease-in-out;
}

.table-header {
    color: rgb(10, 42, 172);
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.logs {
    margin-left: 50px;
    margin-right: 50px;
}

.contact-card {
    height: 125px;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}

.color {
    height: 100%;
    width: 1rem;
    background-color: rgb(255, 145, 0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.profile-picture {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    border: 4px solid white;
}

.profile-picture-sm {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    border: 4px solid white;
}

.profile-picture:hover, .profile-picture-sm:hover {
    cursor: pointer;
    box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
    transition: all 125ms ease-in-out;
    transform: scale(1.01);
}

.img {
    margin-left: 10px;
    margin-right: 10px;
}

.contact-name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact-name a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(10, 42, 172);
}

.contact-picture {
    display: flex;
}

.contact-email {
    display: flex;
    flex-direction: column;
}

.detail-card {
    display: flex;
    max-width: 400px;
    height: 100px;
    margin-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 30%;
}

#category {
    max-width: 20%;
}

/*ADD TASK*/

#addtaskContent {
    animation: opacity 175ms ease-in-out;
}

h3 {
    text-transform: uppercase;
    color: rgb(10, 42, 172);
    margin-top: 20px;
    margin-bottom: 10px;
}

.new-task {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    background-color: rgb(227, 227, 227);
    padding: 30px;
}

.input-field {
    padding: 10px;
    width: 300px;
    border: 1px solid lightgrey;
}

.info-icon {
    margin-right: 30px;
    display: none;
}

.icon {
    height: 18px;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    border-left: none;
}

.icon:hover {
    cursor: pointer;
}

.description-container {
    height: 220px;
    display: block;
    word-wrap: break-word;
}

.assigned-to-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
}

#receivers{
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
}

.receiver{
    margin: 3px;
}

.team-img{
    margin: 3px;
}
.plus {
    margin-left: 20px;
}

.plus:hover {
    cursor: pointer;
}

/*POPUP_MODAL*/

#overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.385);
}

#modal{
    width: 580px;
    height: 400px;
    margin: auto;
    background-color: rgb(61, 73, 202);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 21;
    animation: zoomIn 125ms ease-in-out;
    border-radius: 12px;
}

.headline-overlay {
    font-size: 30px;
    color: white;
}

#rendered-team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#close-modal-btn{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    background-color: rgb(67, 67, 67);
    border: none;
}

.join-logo{
    object-fit: cover;
    height: 60px;
}

.cancel {
    padding: 15px;
    font-size: 21px;
    border: none;
    border-radius: 10px;
    color: rgb(10, 42, 172);
    text-transform: uppercase;
    font-weight: 500;
    transition: all 125ms ease-in-out;
}

.cancel:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    transition: all 125ms ease-in-out;
}

.create-task {
    padding: 15px;
    font-size: 21px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 125ms ease-in-out;
   
}

.create-task:hover {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    background-color: rgb(59, 66, 147);
}

/* Help content*/
#helpcontent {
    animation: opacity 175ms ease-in-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes opacity {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}