* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}


/*SIDE-MENU*/

.side-menu {
    position: fixed;
    height: 100vh;
    width: 150px;
    background-color: rgb(61, 73, 202);
    justify-content: space-between !important;
}

.logo {
    margin: 40px;
    height: 70px;
}

.logo:hover {
    cursor: pointer;
}

.menu-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.menu-links a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 23px;
    transition: all 125ms ease-in-out;
    padding-left: 24px;
}

.menu-links a:hover {
    cursor: pointer;
    margin-left: 8px;
    transition: all 125ms ease-in-out;
}

.link-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    border-left: 4px solid transparent;
    transition: all 125ms ease-in-out;
}

.link-container:hover {
    border-left: 4px solid white;
    transition: all 125ms ease-in-out;
}

.logged-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-logo {
    height: 90px;
    width: 90px;
    position: fixed;
    bottom: 100px;
    border: 4px solid white;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.impressum-link , .impressum-link-responsive{
    position: absolute;
    bottom: 12px;
    left: 24px;
    font-size: 14px;
}
.impressum-link a, .impressum-link-responsive a {
    text-decoration: none !important;
    color: white !important;
}

/* responsive menu*/
.responsive-menu-bg {
    z-index: 29;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 255ms ease-in-out;
}

.responsive-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 100vh;
    z-index: 30;
    background-color: rgb(61, 73, 202);
    transform: translateX(200px);
    transition: all 255ms ease-in-out;
}

.show-responsive-menu {
    transform: translateX(0);
}

.responsive-links{
    width: 100%;
    margin-top: 20px;
}

.responsive-links a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 23px;
    padding-left: 24px;
}

.mb-menu-button {
    display: none;
    height: 40px;
    margin-right: 22px;
    cursor: pointer;
}

.close-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    width: 100%;
}
.mb-close-btn {
    height: 35px;
    margin-right: 22px;
    cursor: pointer;
}


/*MAIN*/

#content {
    animation: opacity 175ms ease-in-out;
}

h2 {
    color: #000;
    text-transform: uppercase;
}

.headline {
    margin-left: 50px;
}

.sub-header {
    color: rgb(10, 42, 172);
}

.main {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 160px;
    height: 100vh;
    overflow: auto;
    flex-direction: column;
}

.content {
    width: 100%;
}


/*BOARD_CONTENT*/

.board-main{
    display: flex;
    margin-left: 120px;
    padding-top: 20px;
}
.delete-alert{
    margin-top: 100px;
}

.boardContent{
    margin-top: 36px;
}
.board-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    padding-top: 36px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

#deleteBoardTask{
    width: 89%;
}

.board-alert{
    margin-left: 5%;
}
.container {
    width: 220px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 227, 227);
    min-height: 500px;
    border-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dragable-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 90%;
    min-height: 110px;
    max-height: 250px;
    border-radius: 8px;
    word-break: break-all;
    box-shadow: 0 16px 16px -3px rgba(0, 0, 0, 0);
}

.dragable-card:hover {
    cursor: pointer;
    box-shadow: 0 16px 16px -3px rgba(0, 0, 0, 0.2);
    transition: all 125ms ease-in-out;
    transform: scale(1.02);
}

.dragable-card-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    font-size: 18px;
}

.dragable-card-names {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    font-size: 16px;
    gap: 5px;
    color: rgb(10, 42, 172);
}

.dragable-card-date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    font-size: 12px;
}

.detail-view-bg {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    min-height: 300px;
    width: 25vw;
    background-color: white;
    border-radius: 12px;
    z-index: 12;
    position: relative;
    animation: zoomIn 125ms ease-in-out;
    position: relative;
}

.detail-view-x-mark {
    height: 18px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.detail-view-trash-icon {
    height: 18px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.detail-view-move-icon {
    height: 26px;
    position: absolute;
    bottom: 54px;
    right: 10px;
    cursor: pointer;
}

.detail-view-x-mark:hover,
.detail-view-trash-icon:hover {
    cursor: pointer;
    box-shadow: 0 16px 16px -3px rgba(0, 0, 0, 0.2);
    transition: all 125ms ease-in-out;
    transform: scale(1.02);
}

.detail-card-title {
    font-size: 26px;
    margin-top: 12px;
    width: 90%;
    text-align: left;
}

.detail-card-category {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    width: 90%;
    font-weight: bold;
    font-style: italic;
    margin-top: 8px;
}

.detail-card-description {
    width: 90%;
    font-size: 20px;
    margin-top: 10px;
    flex: 1;
    text-align: left;
    overflow-y: auto;
    word-break: break-word;
}

.detail-card-names {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    margin-top: 12px;
    width: 90%;
    gap: 8px;
    margin-bottom: 12px;
    color: rgb(10, 42, 172);
}


/*BACKLOG*/

#backlogContent {
    animation: opacity 175ms ease-in-out;
    padding-top: 36px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.table-header {
    color: rgb(10, 42, 172);
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.logs {
    margin-left: 50px;
    margin-right: 50px;
}

.emtpy-logs-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.emtpy-logs-infotext {
    font-size: 35px;
    color: grey;
}

.contact-card {
    height: 130px;
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}

.color {
    height: 100%;
    width: 1rem;
    background-color: rgb(255, 145, 0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    width: 500px;
}

.profile-picture {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    border: 4px solid white;
}

.profile-picture-sm {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    border: 4px solid white;
}

.profile-picture:hover,
.profile-picture-sm:hover {
    cursor: pointer;
    box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
    transition: all 125ms ease-in-out;
    transform: scale(1.01);
}

.img {
    margin-left: 10px;
    margin-right: 10px;
}

.contact-name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.contact-name a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(10, 42, 172);
}

.contact-picture {
    display: flex;
    width: 400px;
    justify-content: center;
}

.contact-email {
    display: flex;
    flex-direction: column;
}

.detail-card {
    display: flex;
    width: 400px;
    height: 100px;
    margin-right: 0px;
    overflow-y: auto;
    word-break: break-word;
    font-size: 16px;
    align-items: center;
    text-align: start;
}

.icon-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-card-icon {
    height: 20px;
}

.contact-card-icon:hover {
    cursor: pointer;
    box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
    transition: all 125ms ease-in-out;
    transform: scale(1.01);
}


/*ADD TASK*/

#addtaskContent {
    animation: opacity 175ms ease-in-out;
    padding-top: 36px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

#addtaskContent input {
    outline: none !important;
}

h3 {
    text-transform: uppercase;
    color: rgb(10, 42, 172);
    margin-top: 20px;
    margin-bottom: 10px;
}


.alert{
    margin-top: 25px;
    margin-left: 50px;
    width: 90%;
}

.new-task {
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    background-color: rgb(227, 227, 227);
    padding: 30px;
}

.input-field {
    padding: 10px;
    width: 300px;
    border: 1px solid lightgrey;
}

.info-icon {
    margin-right: 30px;
    display: none;
}

.icon {
    height: 18px;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    border-left: none;
}

.icon:hover {
    cursor: pointer;
}

.description-container {
    height: 220px;
    display: block;
    word-wrap: break-word;
    resize: none;
    outline: none;
}

.assigned-to-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
}

#receivers {
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
}

.receiver {
    margin: 3px;
}

.team-img {
    margin: 3px;
}

.plus {
    margin-left: 20px;
}

.plus:hover {
    cursor: pointer;
}

/*POPUP_MODAL*/

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.385);
}

#modal {
    width: 580px;
    height: 330px;
    margin: auto;
    background-color: rgb(61, 73, 202);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 21;
    animation: zoomIn 125ms ease-in-out;
    border-radius: 12px;
}

.headline-overlay {
    font-size: 30px;
    color: white;
}

#rendered-team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#close-modal-btn {
    height: 45px;
    width: 45px;
    position: absolute;
    right: 8px;
    top: 8px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    transition: all 125ms ease-in-out;
    font-size: 22px;
    font-weight: 400;
}

#close-modal-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 125ms ease-in-out;
}

.join-logo {
    object-fit: cover;
    height: 60px;
}

.cancel {
    padding: 15px;
    font-size: 21px;
    border: none;
    border-radius: 10px;
    color: rgb(10, 42, 172);
    text-transform: uppercase;
    font-weight: 500;
    transition: all 125ms ease-in-out;
}

.cancel:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    transition: all 125ms ease-in-out;
}

.create-task {
    padding: 15px;
    font-size: 21px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 125ms ease-in-out;
}

.create-task:hover {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    background-color: rgb(59, 66, 147);
}


/* Help content*/

.helpContent {
    padding-top: 36px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.content-box {
    display: flex;
    flex-direction: column;
}

.content-text {
    margin-left: 16px;
}

/* impressum*/
.impressum-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-top: 36px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes opacity {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}